
<h1>welcome to new game</h1>
<div class="board">
      <table>
        <tbody>
          <% (1..8).each do |column| %>
            <tr id = <%= column %>>
              <% (1..8).each do |row| %>
                <td data-x-coord = <%= row %> data-y-coord = <%= column %> class = <%= "#{(column % 2 == row % 2 ? "white-square" : "black-square")}" %> >
                  <% @pieces.each do |piece| %>
                    <div class="piece" data-url="<%= game_piece_path(piece.game, piece)%>" data-piece-type="<%= piece.piece_type %>">
                  <%= image_tag(piece.piece_image) %>
                </div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

<script>
$(function(){
    $(".piece-drag").draggable({ containment: ".board"});
    $("td").droppable({
      drop: function(event,ui){
        var dropped = ui.draggable;
        var droppedOn = $(this);
        if($(droppedOn).children().length > 0){
          $(dropped).hide();
        };
        $.ajax({
          type: 'PUT',
          url: $(dropped).data("url"),
          dataType: 'json',
          data: {piece : { x_position: $(droppedOn).data("x-coord") , y_position: $(droppedOn).data("y-coord") } },
          success: function(data,testStatus,jqXHR){
            $(droppedOn).empty();
            $(dropped).detach().css({top: 0, left: 0}).appendTo(droppedOn);
            $(dropped).show();
            console.log(jqXHR);
            $(".player-info").empty().append(data.player_data);

          },
          error: function(jqXHR,textStatus,errorThrown){
            $(dropped).css({top: 0, left: 0});
            $(dropped).show();
            console.log(errorThrown);
            alert(jqXHR.responseText);
          },
        });
        
      }
    });
    $('td').not('td:empty').droppable();
});
</script>


<h1>welcome to Game No. <%= @game.id %> </h1>
<div class="board" style="position:relative">
  <table>
    <tbody>
      <% (1..8).each do |column| %>
        <tr id = <%= column %>>
          <% (1..8).each do |row| %>
            <td data-y-coord = "<%= row %>" data-x-coord = "<%= column %>" class = <%= (column % 2 == row % 2) ? "white-square" : "black-square"  %> >
                <% @piece = @pieces.select{ |piece_temp| piece_temp.x_position==column && piece_temp.y_position==row && piece_temp.captured==false } %>
                <% #@piece = @pieces.where(x_position:column,y_position:row).first %>
                <% if !@piece[0].nil? %>
                  <div class="piece piece-drag" data-url="<%= game_piece_path(@game, @piece[0])%>" data-piece-type="<%= @piece[0].type %>">
                    <% #link_to game_piece_path(@game,@piece) do %>
                      <%= image_tag @piece[0].image_url, class: 'img-fluid ' %>
                    <% #end %>
                  </div>
                <% end %>
              
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="player-info">
    <div class="black-player-zone">
      <span>Black Player: 
      <% if !@black_player.nil? %>
        <%= @black_player.email %>
        <% if @black_player == current_user %>
          <%=link_to "Forfeit", game_path(@game, forfeit:0),:method => :put, class: 'btn btn-primary' %> 
        <% end %>
      <% end %>
      </span>
      <div>
        <% @pieces_captured = @pieces.select{ |piece_temp| piece_temp.captured==true && piece_temp.piece_color=="black" } %>
        <% @pieces_captured.each do |piece| %>
          <div data-piece-type="<%= piece.type %>">
            <%= image_tag piece.image_url, class: 'img-fluid ',style: "height:40px;width:40px" %>
          </div>
        <% end %>
      </div>
    </div>
    <p></p>
    <div class="white-player-zone">
      <span>White Player: 
        <% if !@white_player.nil? %>
          <%= @white_player.email %>
          <% if @white_player== current_user %>
            <%=link_to "Forfeit", game_path(@game, forfeit:0),:method => :put, class: 'btn btn-primary' %> 
          <% end %>
        <% end %>
      </span>
      <div>
        <% @pieces_captured = @pieces.select{ |piece_temp| piece_temp.captured==true && piece_temp.piece_color=="white" } %>
          <div>
            <% @pieces_captured.each do |piece| %>
              
                <%= image_tag piece.image_url, class: 'img-fluid ',style: "height:40px;width:40px" %>
            <% end %>
          </div>
          
      </div>
    <div>
    
</div>

   