<!DOCTYPE html>
<html>
  <head>
    <title>Chessapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if !current_user %>
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
    <% end %>
    <%= yield %>



  </body>
</html>
